@model ResetPasswordModelWebsite
<form action="/Home/ResetPassword" class="form-password-change" id="form-password-change" method="post" onsubmit="return ResetPassword(this)">
    @Html.HiddenFor(m => m.UserEmail)
    <div class="aj-fld">
        <p class="aj-ttl">Reset Code</p>
        @Html.PasswordFor(m => m.ResetCode, new { @class = "add-inpt full_width", @placeholder = "Reset Code" })
        @Html.ValidationMessageFor(m => m.ResetCode)
    </div>
    <div class="aj-fld">
        <p class="aj-ttl">New Password</p>
        @Html.PasswordFor(m => m.Password, new { @class = "add-inpt full_width", @placeholder = "New Password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="aj-fld">
        <p class="aj-ttl">Confirm Password</p>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "add-inpt full_width", @placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="aj-fld">
        <input type="submit" class="save btns forget_btn" value="Save">
    </div>
</form>
