@model List<UserSessions>
@if (Model != null)
{
    foreach (UserSessions UserSession in Model)
    {
        <table class="user-table">
            <tr><th colspan="3">User Session Detail</th></tr>
            <tr>
                <td>UserIP: @UserSession.UserIP</td>
                <td><strong>CreatedOn:</strong> @UserSession.CreatedOn.ToString()</td>
                <td><strong>LastActivityOn:</strong> @UserSession.LastActivityOn.ToString()</td>
            </tr>
            @foreach (var UserPageView in UserSession.UserPageViews)
            {
                <tr>
                    <td>
                        PageURL: @UserPageView.Controller/@UserPageView.Action/@UserPageView.ID
                    </td>
                    <td>
                        Page Visit: @UserPageView.Count
                    </td>
                    <td>
                        <strong>CreatedOn:</strong> @UserPageView.CreatedOn.ToString()<br />
                        <strong>LastActivityOn:</strong> @UserPageView.LastActivityOn.ToString()
                    </td>
                </tr>
            }
        </table>
    }
}
