@model List<UserPageView>
@{
    List<UserPageView> UserSessions = Model;
    
}
@if (Model != null)
{

    @*<table class="user-table">
        <tr><th colspan="3">User Session Detail</th></tr>
        @foreach (var item in UserSession)
        {
            
        }
    </table>*@
    foreach (string IP in UserSessions.Select(m => m.UserIP).Distinct().ToList())
    {
        <table class="user-table">
            <tr><th colspan="3">User Session Detail</th></tr>
            <tr>
                <td>UserIP: @IP</td>                
            </tr>
            @foreach (UserPageView UserSession in UserSessions.Where(m => m.UserIP == IP).ToList())
            {
                <tr>
                    <td>
                        PageURL: @UserSession.Controller/@UserSession.Action/@UserSession.ID
                    </td>
                    <td>
                        Page Visit: @UserSession.Count
                    </td>
                    <td>
                        <strong>CreatedOn:</strong> @UserSession.CreatedOn.ToString()<br />
                        <strong>LastActivityOn:</strong> @UserSession.LastActivityOn.ToString()
                    </td>
                </tr>
            }
        </table>
    }
}
